* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("./spin-background.webp");
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: -20rem -5rem;
  overflow: hidden !important;
}

.container {
  width: auto !important;
  height: 100vh !important;
  margin: 0 auto;
  overflow: hidden !important;
}

#app {
  position: relative;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden !important;
}

.app-spin {
  position: relative;
  /* z-index: 5; */
  z-index: 0;
}

.display {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin: 20px auto;
  padding: 1rem;
}

.marker {
  position: absolute;
  width: 60px;
  /* left: 172px; */
  top: 4.5rem;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}

/* .nowSpin {
} */

.wheel {
  width: 40rem;
  height: 40rem;
}

.button {
  display: block;
  /* width: 250px; */
  margin: 40px auto;
  padding: 10px 30px;
  font-size: 16px;
  color: white;
  background-color: black;
  cursor: pointer;
}

/* .button:hover {
  opacity: 0.8;
} */

.blur {
  animation: blur 10s;
}

#textKode {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.container-text {
  background-color: black;
  padding: 10px 30px;
}

.app-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#inputVoucher {
  padding: 10px 20px;
  font-size: 16px;
  margin: 30px 0 0 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 0px;
}

@keyframes blur {
  0% {
    filter: blur(1.5px);
  }
  80% {
    filter: blur(1.5px);
  }
  100% {
    filter: blur(0px);
  }
}

.overlay2 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.open {
  visibility: visible !important;
  opacity: 1 !important;
}
.closeHome {
  visibility: hidden !important;
  opacity: 0 !important;
}

.overlay1 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
  z-index: 15;
}

.wrapper {
  text-align: center;
  position: relative;
  z-index: 10;
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
}

#mengerti {
  position: absolute;
  left: 43%;
  right: auto;
  top: 75%;
  margin-left: auto;
  margin-right: auto;
  /* z-index: 5; */
  padding: 10px 20px;
  background-color: white;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

#popup1 img {
  width: 100%;
  height: 100%;
}

.popup {
  padding: 20px;
  background: #000;
  border-radius: 5px;
  width: 30%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50%;
  margin-left: auto;
  margin-right: auto;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #fff;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 21%;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  color: #fff;
  font-weight: bold;
}

@media only screen and (min-width: 360px) and (max-width: 479px) {
  .container {
    overflow-x: hidden !important;
  }
  .wheel {
    width: 20rem !important;
    height: 20rem !important;
  }

  .marker {
    width: 40px;
    top: 1.5rem;
  }

  #app {
    flex-direction: column;
    height: 100%;
  }

  /* .container {
    height: 36rem !important;
    max-height: 60rem !important;
  } */

  .button {
    width: 136px;
    margin: 8px auto;
  }

  .display {
    font-size: 14px;
    padding: 1rem;
  }

  .wrapper {
    width: auto;
    height: auto;
  }

  #popup1 img {
    width: 16rem;
    height: 13rem;
  }

  #mengerti {
    left: 41%;
    padding: 6px 9px;
    font-size: 10px;
  }

  .popup {
    width: 85%;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1279px) {
  .container {
    overflow-x: hidden !important;
  }
  .wheel {
    width: 20rem !important;
    height: 20rem !important;
  }

  .marker {
    width: 40px;
    top: 1.5rem;
  }

  #app {
    flex-direction: column;
    height: 100%;
  }

  /* .container {
    height: 36rem !important;
    max-height: 60rem !important;
  } */

  .button {
    width: 136px;
    margin: 8px auto;
  }

  .display {
    font-size: 14px;
    padding: 1rem;
  }

  .wrapper {
    width: auto;
    height: auto;
  }

  #popup1 img {
    width: 30rem;
    height: 25rem;
  }

  #mengerti {
    left: 40%;
    top: 75%;
    padding: 10px 13px;
    font-size: 16px;
    border: 0;
  }

  .popup {
    width: 85%;
  }
}
