* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #34495e;
}

#app {
  width: auto !important;
  height: 100vh !important;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 5;
}

.display {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin: 20px auto;
}

.marker {
  position: absolute;
  width: 60px;
  /* left: 172px; */
  top: 10rem;
  z-index: 2;
}

.wheel {
  width: auto;
  height: auto;
}

.button {
  display: block;
  width: 250px;
  margin: 40px auto;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.blur {
  animation: blur 10s;
}

@keyframes blur {
  0% {
    filter: blur(1.5px);
  }
  80% {
    filter: blur(1.5px);
  }
  100% {
    filter: blur(0px);
  }
}

@media only screen and (min-width: 360px) and (max-width: 479px) {
  .wheel {
    width: 20rem;
  }

  .marker {
    width: 40px;
    top: 12.5rem;
  }
}
